main{
    max-width: 40%;
    max-height: 65%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 1em #3e395247;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.titulo{
    font-size: 20px;
    color: #824fcdf7;
    display: flex;
    align-items: center;
    text-align: center;
}

.titulo-input{
    color: rgb(185, 162, 243);
}

.entradas{
    padding: 50px;
    border: none;
    outline: none;
    
    
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #e6e6f7;
    outline: none;
    border: none;
    padding: 20px;
    width: 100%;
}

.entrar{
margin: 5px 0;
background-color: tomato;
color: white;
border: none;
border-radius: 5px;
padding: 10px;
align-items: center;
cursor: pointer;
}
.entrar:hover{
    background-color: #e9674f;
}


main a{
    text-decoration: none;
    color: #430b998c;
    margin: 10px 0 ;
}

@media(max-width: 730px){
    .botao{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: #e6e6f7;
        outline: none;
        border: none;
        padding: 20px;
        
    }
}